/* Hide scrollbar for html and body */
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 11 */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  